<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico' )}}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon.ico' )}}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
    <title>Grupo 4  - Taller Programación</title>

    <link href="{{ url_for('static', filename='css/album.css') }}" rel="stylesheet" type="text/css" />
 
  </head>

  <body>
    {% include 'header.html' %}
    {% block content %}
    {% endblock %}

  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- TENSORFLOW JS -->    
    <!--<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>-->

    <!-- TESONRFLOW MODELO ENTRENADO -->
    <!--<script src="static/app.js"></script>-->

    <!--<script src="static/captura_face.js" type="text/javascript"></script>-->

    <script src="https://webrtc.github.io/adapter/adapter-5.0.4.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="static/js/utils.js" type="text/javascript"></script>
    {% block js_files %}{% endblock %}
</body>
</html>
