{% extends "base.html" %}

{% block content %}

<main>
	<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

		<div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			
			<div class="my-3 py-3">
				<h2 class="display-5">Reconocimiento Facial y Vehicular.</h2>
				<p class="lead">Entrenamiento con IA y redes Neuronales Convulsionales (OpenCV, Tensor Flow, Keras y Python).</p>
				<p id="status"></p>
			</div>

			<div class="bg-white shadow-sm mx-auto" style="width: 99%; height: 600px; border-radius: 21px 21px 0 0;">
				<div class="pl-4 pt-4 pr-4 pb-2">
					<p class="err" id="errorMessage"></p>
				</div>

				<div class="container ms-5 me-5">
					<table  class="table  table-bordered">
						<tbody>
							<tr>
								<td>
									Entrada de video WebCam
								</td>
								<td>
									Deteccion de rostros
								</td>
								<td>
									Reconocimiento Facial
								</td>
							</tr>
							<tr>								
								<td> 
									<video id="videoInput" width=320 height=240></video>
								</td>
								<td>
									<canvas id="canvasOutput" width=320 height=240></canvas>
								</td>
								<td>
									<canvas id="canvasOutputs" width=320 height=240 style="display: none"></canvas>
								</td>
							</tr>
							<tr>
								<td>
									<button type="button" class="btn btn-dark btn-sm" id="startAndStop" disabled>
										Iniciar
									</button>
								</td>
								<td>
									<div class="input-group mb-3">
										<input type="text" id="setname" name="name" class="form-control form-control-sm" placeholder="Nombre de rostro" aria-label="Nombre de rostro" aria-describedby="basic-addon2" required>
										<div class="input-group-append">
											<button class="btn btn-outline-secondary btn-dark btn-sm" type="button" id="capturar">Capturar</button>
											<button class="btn btn-outline-secondary btn-dark btn-sm" type="button" id="photo1">Entrenar</button>
										</div>
										<div id="result" class="valid-feedback"></div>
									</div>
								</td>
								<td>

									<button class="btn btn-dark btn-sm" id="reconocimiento">
										Reconocer rostro
									</button>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>        	
</main>

{% endblock %}

