{% extends "base.html" %}

{% block content %}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Reconocimiento Facial y Vehicular</h1>
      <p class="lead text-muted">Entrenamiento con Inteligencia Articial y redes Neuronales Convulsionales (OpenCV, Tensor Flow, Keras, Python y Flask).
      <p class="err" id="errorMessage"></p>
      {% with messages = get_flashed_messages()  %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1">

        <div class="col-md-4">
          <h5 class="card-title text-center">Entra de video WebCam</h5>
          <div class="card text-center mb-4 box-shadow">
            <video id="videoInput" class="bd-placeholder-img card-img-top" style="width: 414px; height: 207px;"></video>
          
            <div class="card-body">
          
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-sm" id="startAndStop" disabled>
                    Iniciar
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" id="btnsendPlate" onclick="sendPlate()" >
                    Capturar Imagen
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <h5 class="card-title text-center">Ver Imagen Placa</h5>
          <div class="card text-center mb-4 box-shadow">
            <canvas id="canvasOutput" class="bd-placeholder-img card-img-top"></canvas>
            <form action="{{ url_for('add_person') }}" class="form" method="POST">
              <div class="card-body">
                <fieldset id="formulario01" disabled>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="input-group input-group-sm">
                      <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre y apellidos" required>
                      <input  id="capturar" class="btn btn-primary btn-sm" type="submit" value="Registrar" >
                      <button id="limpiar" class="btn btn-primary btn-sm" type="reset">Limpiar</button>
                    </div>    
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
        
        <div class="col-md-4">
          <h5 class="card-title text-center" id="plate_title">Detalle de Placa</h5>
          <div class="card text-center mb-4 box-shadow">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <h1 class="card-title text-center" id="plate_name">--------------</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

      <canvas id="gray"></canvas>

      <div class="row row-cols-1">
        <div class="table-responsive">
          <table class="table" id="mainTable">
            <thead>
              <tr>
                <th scope="col">Rostro</th>
                <th scope="col">Conductor</th>
                <th scope="col">Vehiculo</th>
                <th scope="col">Ingreso</th>
                <th scope="col">Salida</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              {% for row in list_person %}
                <tr>
                  <td id="td{{row[0]}}"></td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
                  <td>{{row[4]}}</td>
                  <td>{{row[5]}}</td>
                  <td class="col-md-3">
                    <button class="btn btn-outline-primary btn-sm" id="{{row[0]}}" onclick="getFace({{row[0]}})">capturar</button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="entrenar()">entrenar</button>
                    <a href="/edit/{{row[0]}}" class="btn btn-outline-primary btn-sm">editar</a>
                    <a href="/delete/{{row[0]}}" class="btn btn-outline-danger btn-sm">eliminar</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</main>
{% endblock %}
{% block js_files %}
  <script type="text/javascript">
        
    let utils = new Utils('errorMessage');
    let streaming = false;
    let videoInput = document.getElementById('videoInput');
    let startAndStop = document.getElementById('startAndStop');
    let canvasOutput = document.getElementById('canvasOutput');
    let btnsendPlate = document.getElementById('btnsendPlate')
    let image_data_url = ""
    let canvasContext = canvasOutput.getContext('2d');
    let roi = document.getElementById('roi');

    var http = new XMLHttpRequest();
    
    btnsendPlate.addEventListener('click', function() {
      canvasOutput.getContext('2d').drawImage(videoInput, 0, 0, canvasOutput.width, canvasOutput.height);
      image_data_url = canvasOutput.toDataURL('image/jpeg').split(';base64,')[1];

        // data url of the image
      console.log(image_data_url);
    });

    /*
    function getFace(id){
      let canvas = document.createElement("canvas");
      let faceid="face"+id;
      let tdid="td"+id;

      canvas.id=faceid;

      let video = document.getElementById('videoInput');
      let cap = new cv.VideoCapture(video);
      let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
      let dst = new cv.Mat(video.height, video.width, cv.CV_8UC4);
      let gray = new cv.Mat();
      let faces = new cv.RectVector();
      let classifier = new cv.CascadeClassifier();

      cap.read(src);
      src.copyTo(dst);
      cv.cvtColor(dst, gray, cv.COLOR_RGBA2GRAY, 0);

      classifier.load('haarcascade_frontalface_default.xml');
      classifier.detectMultiScale(gray, faces, 1.1, 5, 0);

      if(faces.size() > 0){
        for (let i = 0; i < faces.size(); ++i) {
          let face = gray.roi(faces.get(i)); 
          cv.resize(face, gray, {width: 90, height: 90});
          cv.imshow(canvas, gray);
        }
        document.getElementById(tdid).appendChild(canvas);
        sendFace(id, canvas);
      }

      //cap.delete();
      src.delete();
      dst.delete();
      gray.delete();
      faces.delete();
      classifier.delete();
    }
    */
/*
    function sendFace(id, canvas){
      
      const formData = new FormData();
      formData.append('userid', id);
      formData.append('face', image_data_url);
      http.open('POST', 'http://localhost:5001/add_face', true);
      http.onload = () => {
        console.log(http.responseText);
      };
      http.send(formData);
    }*/

    function sendPlate(){
      $.ajax({
        type: 'POST',
        url: '/validate',
        data: {"userid": 999, "plate": image_data_url},
        dataType: "text",
        success: function(response){
          console.log(response);
          document.getElementById("plate_name").innerHTML = response;
        },
        error: function(error){
          document.getElementById("plate_name").innerHTML = "Imagen invalida";
          console.log(error)
        }
      });
    }

    function entrenar(){
      $.ajax({
        type: 'POST',
        url: '/entrenar',
        data: {"userid": 999},
        dataType: "text",
        success: function(response){
          console.log(response);
        },
        error: function(error){
          console.log(error)
        }
      });
    }

    // ########### VALIDACIONES ###############
    document.getElementById('nombre').addEventListener('input', function(){this.value=this.value.toLowerCase()});
    document.getElementById('nombre').addEventListener('change', function(){this.value=this.value.replace(/\s+/g,' ').trim()});
    

    startAndStop.addEventListener('click', () => {
      if (!streaming) {
        utils.clearError();
        utils.startCamera('xvga', onVideoStarted, 'videoInput');
        document.getElementById('formulario01').disabled=false;
      } else {
        utils.stopCamera();
        onVideoStopped();
        document.getElementById('formulario01').disabled=true;
      }
    });

    function onVideoStarted() {
      streaming = true;
      startAndStop.innerText = 'Detener';
      videoInput.width = videoInput.videoWidth;
      videoInput.height = videoInput.videoHeight;


      //const face_recognizer = new cv.face.LBPHFaceRecognizer;

      
      let video = document.getElementById('videoInput');
      let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
      let dst = new cv.Mat(video.height, video.width, cv.CV_8UC4);
      let gray = new cv.Mat();

      let cap = new cv.VideoCapture(video);
      //let faces = new cv.RectVector();
      let classifier = new cv.CascadeClassifier();


      let matriculas = new cv.RectVector();
      let classifierVehicle = new cv.CascadeClassifier();
      let minArea = 500;
      let color = (255,0,255);

      //classifier.load('haarcascade_frontalface_default.xml');
      classifierVehicle.load('haarcascade_russian_plate_number.xml');

      const FPS = 30;
      function processVideo() {
        try {
            if (!streaming) {
                src.delete();
                dst.delete();
                gray.delete();
                faces.delete();
                classifier.delete();
                classifierVehicle.delete(); 
                return;
            }
            
            let begin = Date.now();
            
            cap.read(src);
            src.copyTo(dst);
            cv.cvtColor(dst, gray, cv.COLOR_RGBA2GRAY, 0);
            //classifier.detectMultiScale(gray, faces, 1.1, 5, 0);
            classifierVehicle.detectMultiScale(gray, matriculas, 1.1, 5);
/*
            for (let i = 0; i < faces.size(); ++i) {
              let face = faces.get(i);
              let point1 = new cv.Point(face.x, face.y);
              let point2 = new cv.Point(face.x + face.width, face.y + face.height);              
              cv.rectangle(dst, point1, point2, [255, 0, 0, 255], 1); 
            }
*/
            
             for(let j=0; j<matriculas.size(); ++j){
               let matricula = matriculas.get(j);

               let X = matricula.x
               let Y = matricula.y
               let W = matricula.width
               let H = matricula.height

               let point1 = new cv.Point(X,Y);
               let point2 = new cv.Point(X+W, Y+H);
               let point3 = new cv.Point(X, Y-5);

               if( (H * W) > 500 ){
                 cv.rectangle(gray, point1, point2, [255,0,0,255], 2);
                 cv.putText(gray, "Placa vehicular", point3, cv.FONT_HERSHEY_SIMPLEX, 1, [255,0,0,255], 2, cv.LINE_AA);
                 cv.medianBlur(gray, gray, 3);
                 //cv.resize(face, gray, {width: 90, height: 90});
                 //let plate = gray.roi(matricula.get(j));               
               }
             }
             cv.imshow('roi', gray);     

            cv.imshow('canvasOutput', dst);
            let delay = 1000/FPS - (Date.now() - begin);
            setTimeout(processVideo, delay);
        } catch (err) {
            utils.printError(err);
        }
      };
      setTimeout(processVideo, 0);
    }

    function onVideoStopped() {
      streaming = false;
      canvasContext.clearRect(0, 0, canvasOutput.width, canvasOutput.height);
      startAndStop.innerText = 'Iniciar';
    }

    utils.loadOpenCv(() => {
      let faceCascadeFile = 'haarcascade_frontalface_default.xml';
      utils.createFileFromUrl(faceCascadeFile, 'static/js/' + faceCascadeFile, () => {
        startAndStop.removeAttribute('disabled');
      });
    });
  </script>
{% endblock %}
